<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.web.consultpin">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.audio.pro" />
    <uses-feature android:name="android.hardware.microphone" />

    <application
        android:name=".main.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Consultpin"
        android:usesCleartextTraffic="true">
        <activity android:name=".usersection.UserEventHistory"></activity>
        <activity android:name=".jitsi.MAinJistsiActivity" />
        <activity
            android:name=".initiatecall.InitiateCallWebview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consultant.DetailPageForBooking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usersection.SetAppointmentByUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".events.EventRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consultant.SetTimeByConsultant"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consultant.ConsultantDetailView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consultant.AppointmentHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consultant.PapularConsultantFullListing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consultant.EditProfileConsultant"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consultant.AccountInformation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consultant.BecomeAConsultant"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.ResetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.EnterOTP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.RegistrationScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Consultpin.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>